mat-toolbar button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
}

mat-toolbar button:not(.home-button) {
    // border-bottom: 0.15em solid black;
    color: rgb(0, 0, 0);
}

mat-toolbar button.active:not(.home-button) {
    color: rgb(0, 0, 0);
    border-bottom: 0.15em solid rgb(0, 0, 0);
}

mat-toolbar .home-button {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.followers,
.following {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    margin-left: 10px;
}